.cache/
*.zip
bin/
*.bak*
*.icns.bak*
*.iconset.bak*/
*.dmg
*.pkg
*.bak
*.app
bin/ffmpeg*
bin/ffprobe*
gstreamer-sdk/
gstreamer-1.0-*.pkg
build/
dist/
__pycache__/
*.pyc
.DS_Store
__pycache__/
*.pyc
.DS_Store
.env
venv/
.venv/
build/
dist/
*.spec
*.log
openkj.sqlite
